$white: #fff;
$silver: #d4dae0;
$dark-grey-blue: #284664;
$black: #282828;
$white-two: #f3f3f3;
$marine: #083050;
$slate: #536b82;
$adobe: #b97d46;
$peach: #faba7a;
$wheat: #facb9b;
$pale: #feeede;
$pale-orange: #faaa5a;
$blue-grey: #7d90a0;
$pinkish-grey: #cccccc;
$darkish-green: #327846;
$pine: #245a34;
$warm-grey: #888888;
$slate-green: #5a936b;
$greyish-green: #84ae90;
$light-grey: #d7e6dc;
$tealish: #32b4c8;
$mid-blue: #268695;
$seafoam-blue: #5bc3d2;
$light-teal: #85d2de;
$light-blue-grey: #d7f0f5;
$light-maroon: #964b5a;
$rose: #c86478;
$dusty-pink: #d28393;
$faded-pink: #dda2ae;
$faded-pink-two: #f5e1e4;


/*-----------------------Begin media screen --------------------*/

@media (max-width: 768px) {

}

@media (min-width: 769px) {

}

@media (min-width: 1024px) {

}

@media (min-width: 1280px) {

}
@media (min-width: 1367px) {

}

@media (min-width: 1440px) {

}

@media (min-width: 1600px) {

}

@media (min-width: 1920px) {

}


/*-----------------------End media screen --------------------*/


